@import "fonts.css";
@import "styles/header.css";
@import "styles/primary.css";

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'UbuntuMedium';
    font-size: 36px;
    line-height: 41px;
    color: black;
    background-color: #fafafa;
    display: block;
}

.container{
    margin: 0 auto;
    width: 1200px;
    padding: 0;
}