@import "fonts.css";
@import "styles/header.css";
@import "styles/primary.css";
@import "styles/secondary.css";
@import "styles/catalog.css";
@import "styles/form.css";

@import "styles/footer.css";

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'UbuntuMedium';
    font-size: 36px;
    line-height: 41px;
    color: black;
    background-color: #fafafa;
    display: block;
}

h2{
    font-family: 'UbuntuMedium';
    font-size: 36px;
    font-weight: 500;
    line-height: 41px;
    color: black;
    text-transform: uppercase;
}

.container{
    margin: 0 auto;
    width: 1200px;
}

@media(max-width: 1200px){
    .container{
        width: 100%;
    }
}

@media(max-width: 768px){
    .container{
        width: 100%;
    }
}

@media(max-width: 320px){
    .container{
        width: 100%;
    }
}

