.primary{
    margin-top: 100px;
}

.primary__wrap{
    width: 100%;
    padding-left: 40px;
    height: 400px;
    background: right / contain no-repeat url(../img/person-shawarma.png);
}

.primary__title{
    margin: 0;
    padding-top: 70px;
    padding-bottom: 40px;
    width: 554px;
}

.button{
    width: 203px;
    height: 50px;
    background-color: #E63E00;
    color: #ffffff;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    transition: 0.4s;
    cursor: pointer;
}

.button:hover{
    background-color: #C33500;
}

@media(max-width: 992px){
    .primary{
        background-color: #ffffff;
    }
    .primary__title{
        font-size: 24px;
        line-height: 28px;
        width: 354px;
        padding-bottom: 100px;
    }
    .button{
        font-size: 20px;
        line-height: 23px;
    }
}

@media(max-width: 767px){
    .primary__wrap{
        padding-left: 26px;
        padding-right: 12px;
        background: right / contain no-repeat url(../img/person-shawarma.png);
        background-size: 180px 179px;
        background-position-x: 97.5%;
        background-position-y: 78%;
        display: block;
    }
    .primary__title{
        font-size: 18px;
        line-height: 21px;
        width: 267px;
        padding-top: 60px;
        padding-bottom: 229px;
    }
    .button{
        float: right;
        font-size: 20px;
        line-height: 23px;
    }
}